  body {
    font-family: Arial, sans-serif;
    text-align: center;
  background-color: rgb(196, 215, 231);
  }

  #game {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 6px;
    justify-content: center;
    margin-top: 15px;
  }

  button.cell {
    background-color: antiquewhite;
    width: 90px;
    height: 90px;
    border-radius: 8px;
    border: 2px solid #a68080 ;
    font-size: 36px;
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  #controls {
    margin-top: 10px;
  }
  #thinking {
    margin-top: 25px;
    color: #333;
  }