@font-face {
    font-family: 'CustomFont';
    src: url('font.ttf') format('truetype');
}
body    {
    background-color: #ee9dbd;
    margin: 0;
    padding: 0;
    font-family: CustomFont;
    font-family: 'CustomFont';
}
a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}
/*-------------- Header Style ------------*/
h1 {
    margin: auto;
    text-align: center;
    background-color: #9dbdee;
    padding: 40px;
    font-size: 80px;
}
/*-------------- Navigation Bar Style ------------*/
nav {
    margin: 0px;
    margin-bottom: 20px;
    background-color: #8b3c3c;
    height: 100px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.nav-button {
    font-family: CustomFont;
    font-size: 30px;
    margin: auto 20px;
    background-color: #ffffff;
    border: solid 5px white;
    border-radius: 40px;
    cursor: pointer;
    height: 40px;
    min-width: 100px;
    padding: 10px 20px;
    transition: 0.67s ease-in-out;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8b3c3c;
    text-decoration: none;
}
.nav-button:hover {
   scale: 110%;
}
@media (max-width: 900px) {
    .nav-button {
        margin: auto 5px;
        min-width: 60px;
        max-height: 80px;
        padding: 8px 12px;
    }
}
/*-------------- Footer Style ------------*/
footer {
    background-color: #8b3c3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*-------------- RPS style ------------*/
.rps-container {
    background-color: #ac5879;
    color: #ffe8f1;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.rps{
    font-family: 'CustomFont';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border-radius: 20px;
    border: #ffe8f1 solid 5px;
    padding: 10px;
    background-color: #ac5879;
    color: #ffe8f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}