@font-face {
    font-family: 'CustomFont';
    src: url('font.ttf') format('truetype');
}

body    {
    background-color: #ee9dbd;
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', sans-serif;
}
/*-------------- Navigation Bar Style ------------*/
nav {
    background-color: #8b3c3c;
    height: 80px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.nav-button {
    margin: auto;
    background-color: #8b3c3c;
    border: solid 2px white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    transition: 1s ease-in-out;
}
.nav-button:hover {
   scale: 110%;
}
/*-------------- Footer Style ------------*/
footer {
    background-color: #8b5e3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}