@font-face {
    font-family: 'CustomFont';
    src: url('font.ttf') format('truetype');
}
body    {
    background-color: #ee9dbd;
    margin: 0;
    padding: 0;
    font-family: CustomFont;
    font-family: 'CustomFont';
}
a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}
/*-------------- Header Style ------------*/
h1 {
    margin: auto;
    text-align: center;
    background-color: #9dbdee;
    padding: 40px;
    font-size: 80px;
}
/*-------------- Navigation Bar Style ------------*/
nav {
    margin: 0px;
    margin-bottom: 20px;
    background-color: #8b3c3c;
    height: 100px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.nav-button {
    font-family: CustomFont;
    font-size: 30px;
    margin: auto 20px;
    background-color: #ffffff;
    border: solid 5px white;
    border-radius: 40px;
    height: 40px;
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8b3c3c;
    text-decoration: none;
    transition: 0.7s ease-in-out;
}
.nav-button:hover {
   scale: 110%;
}
.nav-button:active {
    background-color: #ee9dbd;
    color: white;
    border: solid 5px #ee9dbd;
}
.nav-button-here {
    font-family: CustomFont;
    font-size: 37px;
    margin: auto 20px;
    background-color: #ee9dbd;
    color: white;
    border: solid 5px #ee9dbd;
    border-radius: 40px;
    height: 47px;
    min-width: 100px;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
/*-------------- Footer Style ------------*/
footer {
    background-color: #8b3c3c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*-------------- OC CONTENT STYLE ------------*/
.oc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffe8f1;
    color: #ac5879;
    padding: 0px;
    margin: 40px auto;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.oc-image {
    margin: 40px;
    color: #ffffff;
    background-color: #ac5879;
    min-width: 250px;
    min-height: 250px;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
}
.oc-image:hover {
    scale: 110%;
}
/*-------------- All @media styling ------------*/
@media (max-width: 900px) {
    .nav-button {
        margin: auto 5px;
        min-width: 60px;
        max-height: 80px;
        padding: 8px 12px;
    }
    .nav-button:hover {
       scale: 100%;
    }
    .nav-button-here {
        margin: auto 5px;
        min-width: 60px;
        max-height: 80px;
        padding: 8px 12px;
        font-size: 30px;
    }
    .nav-button-here:hover {
       scale: 100%;
    }
    .oc-container {
        flex-direction: column;
        align-items: center;
    }
    .oc-image {
        width: 300px;
        height: 300px;
    }
    .oc-image:hover {
        scale: 100%;
        cursor: pointer;
    }
}