/*-------------- GAME STYLE ------------*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2dede;
    font-family: 'Arial', sans-serif;
}
.game-container {
    justify-self: center;
    aspect-ratio: 5/3;
    width: 80%;
    background-color: #9e5c5c;
    margin: 40px auto;
}
footer {
    background-color: #8b3c3c;
    color: white;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.nav-button {
    font-size: 2em;
    margin: auto 20px;
    background-color: #ffffff;
    border: solid 5px white;
    border-radius: 40px;
    color: #8b3c3c;
}
a{  
    text-decoration: inherit;
    color: inherit;

}
.slotHolder{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(237, 150, 150);
    width: 20%;
    position: fixed;
    left: 0;
}
.slots{
    aspect-ratio: 1/1;
    background-color: rgb(105, 175, 237);
    width: 80%;
    margin: 10px auto;
}
.slotHolder{
  overflow-y: scroll;
  scrollbar-width: none;
}
.accesoryHolder{
    height: 100%;
    width: 400%;
    background-color: rgb(237, 150, 150);
    background-color: #e38686;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    resize: vertical;
}
